
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font: 16px "Poppins", Arial, sans-serif;
    color: #121214;
    background-color: #9F7AEA;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }
  
  input, textarea {
    font-family: "Poppins";
  }
  
  button {
    cursor: pointer;
  }